<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
               
<bean id="add" class="Address">
<constructor-arg value="sss"></constructor-arg>
<constructor-arg value="sssddd"></constructor-arg>
</bean>

<bean id="b" scope="prototype" class="Student">
<constructor-arg value="aa"></constructor-arg>
<constructor-arg  value="3" type="int"></constructor-arg>
<constructor-arg><ref bean="add"/></constructor-arg>


</bean>
  
</beans>  